@import "./examples-offline.css";
@import "./kendo.common.min.css";
@import "./kendo.rtl.min.css";
@import "./kendo.default.min.css";
@import "./font-awesome-4.7.0/css/font-awesome.min.css";

html, body, #tabstrip  {
  height: 100%;
  overflow: hidden;
}
.k-tabstrip-wrapper {
  height: calc(100% - 56px);
}
.k-header.hd {
  display: flex;
  height: 54px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: space-between;
}
.logo {
  background: url(./images/logo.png) 0 center no-repeat;
  width: 130px;
  padding-left: 145px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  flex-shrink: 0;
  margin-left: 20px;
}
.logo>h4:first-child {
  margin-top: 8px;
}
.menu {
  width: 100%;
  height: 54px;
}
.menu>#horizontalMenu {
  display: none;
}
.horizontal, 
#horizontalMenu, 
#horizontalMenu.k-menu .k-item,
#horizontalMenu.k-menu .k-item>.k-link,
#horizontalMenu.k-menu-scroll-wrapper .k-item>.k-link, 
#horizontalMenu.k-popups-wrapper .k-item>.k-link {
  height: 100%;
}
#horizontalMenu.k-menu .k-item>.k-link,
#horizontalMenu.k-menu-scroll-wrapper .k-item>.k-link, 
#horizontalMenu.k-popups-wrapper .k-item>.k-link {
  padding: 0 12px;
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  flex-shrink: 0;
}
#panelbar {
  width: 100%;
}
.all-form {
  width: 80%;
  margin: 0 auto;
}
.form-title {
  text-align: center;
  margin-bottom: 20px;
}
.demo-section:not(.wide), #example .box:not(.wide) {
  max-width: none;
}
.k-form-horizontal .k-form-field>.k-form-label, .k-form-horizontal .k-form-field>.k-label{
  width: 165px;
  justify-content: end;
}
.k-form-legend {
  margin: 0;
  border: none;
}
.k-form-field {
  margin: 0 16px;
}
.k-form-fieldset {
  margin: 8px 0 0;
}
.k-content {
  height: calc(100% - 50px);
}
.k-panelbar .k-content {
  padding: 20px;
}
.k-state-selected {
  background-color: #eae8e8;
  border-color: #eae8e8;
}
.k-panelbar .k-item .k-link.k-state-selected, .k-panelbar>li.k-state-default>.k-link.k-state-selected, .k-panelbar>li>.k-state-selected {
  color: #2e2e2e;
}
.k-panelbar>.k-item>.k-link {
  font-size: 16px;
}

.form-content {
  display: flex;
}
.oper-btn {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.oper-btn button {
  margin-bottom: 10px;
  cursor: pointer;
}
/* .oper-btn button {
  margin-bottom: 10px;
} */
.oper-btn .fa {
  font-size: 20px;
}
.form-content .k-form-buttons.k-buttons-end {
  display: none;
}
.selected {
  height: calc(100% - 60px)!important;
}
label.required {
  position: relative;
}
label.required:after {
  content: '*';
  color: #f00;
  position: absolute;
  top: -2px;
  right: -2px;
  font-size: 16px;
}

/* 主题弹窗 */
#s-l-themes>.color-block {
  display: flex;
  flex-wrap: wrap;
}
#s-l-themes>.color-block>div {
  padding: 5px 0;
  width: 33%;
  display: flex;
  cursor: pointer;
}
#s-l-themes>.color-block>div:hover,
#s-l-themes>.color-block>div.selected {
  background: rgba(0,0,0,0.1)
}
.themeDot {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}